@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #369026;
  --secondary: #fcf9ed;
  --custom_gray: ##4a5568;
}


html, body, #root, .app {
  height: 100%;
  width: 100%;
  margin: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

p {
  margin: 0;
}

.listings-container {
  width: 100%;
  overflow-y: scroll;
}

.listing-container {
  padding: 1rem;
}

.flashing {
  animation: flash 2s infinite;
}

@keyframes flash {
  50% {
    background-color: #369026;
    color: #fcf9ed;
  }
}

.listing-container:hover {
  cursor: pointer;
  background-color: rgb(241, 241, 241);
}

.food-name-container {
  color: #369026;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 0;
  font-family: "Google Sans";
  line-height: 2rem;
}

.food-quantity-container, .rest-container, .end-time-container {
  color: #4a5568;
  font-family: "Roboto";
  font-size: 0.875rem;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 1.5rem;
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #369026;
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-listing-form {
  background: #fff;
  z-index: 99;
  border-radius: 3rem;
}

.add-listing-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 3rem;
}

#food-name-input, #food-quantity-input, #end-time-input {
  height: 30px;
  width: 15rem;
  font-size: 18px;
}

#listing-form-submit-btn {
  background-color: #369026;
  border: none;
  border-radius: 2rem;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  font-size: 1.2rem;
}

#listing-form-submit-btn:hover {
  cursor: pointer;
  background-color: #03774d;
}

.sign-up-page {
  background-color: var(--secondary);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.sign-up-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--primary);
  padding: 3rem 2rem;
  gap: 0.5rem;
  border-radius: 1rem;
} 


.form-header{
  color: var(--primary);
  font-size: 2.0rem;
  text-align: center;
  margin-bottom: 10px;
}
.email-label, .password-label, .name-label, .address-label {
  font-size: 1.2rem;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.email-input-container, .password-input-container, .name-input-container, .address-input-container {
  display: flex;
  flex-direction: column;
  text-align: left;
  color:var(--secondary);
}

.email-input, .password-input, .name-input, .address-input {
  width: 20rem;
  color: var(--primary);
  padding: 0.75rem 1.5rem;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-size: 1rem;
  border-radius: 0.75rem;
  background-color: var(--secondary);
}

.sign-up-form-btn {
  background-color: var(--secondary);
  border-radius: 8px;
  border: solid 2px var(--primary);
  color: var(--primary);
  cursor: pointer;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  padding: 10px 16px;
  margin-top: 2rem;
  font-size: 1.2rem;
}

.sign-up-form-btn:hover,
.sign-up-form-btn:focus {
  background-color: var(--primary);
  color: var(--secondary);
  border: solid 2px var(--secondary);
}

.sign-up-form-btn:active {
  box-shadow: 3px 3px 5px #fff;
}

#already:hover {
  color: #026843;
}

.add-listing-btn {
  background-color: #fff;
  border-radius: 12px;
  border: solid 2px #04AA6D;
  color: #04AA6D;
  cursor: pointer;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  padding: 10px 16px;
  margin-top: 2rem;
  font-size: 1.5rem;
}

.add-listening-btn:hover {
  background-color: #04AA6D;
  color: white;
  border: solid 2px white;
}

